# Node / Nest for reservations-service
node_modules/
dist/
.env
.env.*
*.log
coverage/
.nyc_output/
*.tsbuildinfo
.vscode/
.DS_Store
Thumbs.db

# DB / ORM
ormconfig.json

# keep lockfiles committed
!package-lock.json
!yarn.lock
